{
    "presets": [
        "babel-preset-env",
        "react",
        "es2017",
        "stage-2"
    ],
    // babel-plugin-module-resolver là module cho môi trường dev
    // giúp định danh lại
    "plugins": [
        "syntax-dynamic-import",
        "transform-es2015-function-name",
        "transform-export-default-name",
        "transform-decorators-legacy", // sử dụng đc arrow function
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@modules": "./src/modules",
                    "@packages": "./packages",
                    "@commons": "./src/commons",
                    "@selectors": "./src/commons/selectors",
                    "@scss": "./src/commons/scss",
                    "@components": "./src/components",
                    "@apis": "./src/commons/apis",
                    "@images": "./statics/media",
                    "@webpack": "./webpack",
                    "@static": "./views",
                    "@font" : "./views/fonts"
                }
            }
        ]
    ]
}
