$primary-color: #0076ff;
$secondary-color: #f6f9ff;
$border-color: #edf0ff;
$text-color1: #000;
$text-color2: #fff;
$text-color3: #242951;
$text-color4: #022145;
$placeholder-text-color: #d8ddff;
$failure-color: #e05d5d;
$success-color: #7ed321;
$primary-background-color: #0068e2;
$navbar-background-color: #006FEF;
$navbarlogo-background-color: #1557BB;
$inactive-background-color: #fdfdff;
$label-background-color: rgba(216, 221, 255, 0.21);
$background-color1: #fff;
$border-color: #d7d7d7;
